<ion-header>
  <ion-toolbar>
    <ion-title>签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-button expand="full" shape="round" *ngIf="isSgin==1" (click)="sign()">
     签到
</ion-button>
  <ion-button expand="full" shape="round" *ngIf="isSgin==0" disabled="true" >
    未到签到时间
  </ion-button>
  <!-- List Full Lines -->

  <ion-list>
    <ion-item *ngFor="let item of student">
      <ion-avatar slot="start">
        <img src="../../../assets/img/registered_one_one.png">
      </ion-avatar>
      <ion-label>
        <h2> {{item.name}}</h2>
        <!--<h3>Your thoughts betray you</h3>-->
        <!--<p>I feel the good in you, the conflict...</p>-->
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
