<ion-header>
    <ion-toolbar>
        <ion-item> 超级签到系统 </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid margin-top>
        <div style="width: 100%">
            <form (ngSubmit)="UserLogin($event)" #MesForm="ngForm" novalidate>
                <ion-list>
                <ion-item>
                    <ion-input type="email" name="email"  [(ngModel)]="loginUser.username" #email="ngModel"  placeholder="请输入手机号或者电子邮箱"  required></ion-input>
                </ion-item>
                <ion-text color="danger" text-left *ngIf="emailOk == false">
                    <p *ngIf="emailOk == false">你输入用户名不正确</p>
                </ion-text>
                    <ion-item>
                        <ion-input type="password" name="password" [(ngModel)]="loginUser.password" placeholder="请输入登录密码" required></ion-input>
                    </ion-item>
                    <ion-text color="danger" text-left *ngIf="passwordOk == false">
                        <p *ngIf="passwordOk == false">密码格式不正确</p>
                    </ion-text>
                </ion-list>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="full" color="primary" (click)="Login()">登录</ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="full"  color="primary" href="/signup">注册新账号</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <!--<ion-col>-->
                            <!--<ion-button fill="clear" size="small" [routerLink]="'/forgetPassword'">忘记密码？</ion-button>-->
                        <!--</ion-col>-->
                    </ion-row>
                </ion-grid>
            </form>
        </div>
    </ion-grid>

</ion-content>
